@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&family=Roboto:wght@100;400;500;700&display=swap');
:root {
    --main-color:rgba(221, 221, 221, 0.6);
    --subtext:'Nunito', sans-serif;
    --red:#ff5a3c;
    --light-red:#f9edeb;
    --blue: #6dbfe2;
}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100% ;
  }

p {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}
  
ol, ul{
    list-style: none;
}
 
.row {
        margin-top: 0 !important;
        margin-right: 0 !important;
      
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: none;
}
a{
    font-size: 1.7rem;
}
p, i, input, span {
    font-size: 1.7rem;
}

h2{
    font-size: 2.5rem;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
.btn1{
    height: 40px !important;
    width: 100px !important;
    background-color: var(--blue);
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer; 
    transition: all 0.5s ease;
    font-size: 1.5rem;
}
.btn1:hover {
    background-color: tomato;
    border: none;
}
body {
    height: 1000px;
}

.slider-item{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.slider-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
}
.slider-item-1{
    background-image: url('img/slider5.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-item-2{
    background-image: url('img/slider6.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-item-3{
    background-image: url('img/slider7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider .owl-nav span {
    font-size: 7rem;
}
/* ======================owlcarousel======================== */
.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px !important ;
    color: #fff !important;

}
.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px !important ;
    color: #fff !important;

}
.owl-prev, .owl-next:hover{
    background: none !important;
} 
.owl-dots{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}
.owl-dot span {
    width: 15px !important;
    height: 15px !important;
    margin: 0px !important;
    /* background-color:transparent !important ; */

}
.owl-dot{
    margin: 10px;
    width: 23px;
    height: 23px;
    border: 2px solid #fff !important;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}


/* =============SLIDE_CONTENT============ */
.slider-item {
display: flex;
align-items: center;
}
.slider-item .wraper{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
}
.slider-item-text{
    left: 14rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slider-item-text p{
    color: #fff;
}
.slider-item-text .price{
    font-size: 1.5rem;
}
.slider-item-text .title-1{
    font-weight: bold;
    font-size: 3.5rem;
}
.slider-item-text .title-2{
    font-size: 1.7rem;
}
.slider-item-text p {
    margin-bottom:5px ;
}
.slider-item-text .btn {
    padding: 12px 20px;
    background-color: chocolate;
    border-radius: 20px;
    border: none;
    cursor: #fff;
    font-size: 1.7rem;
}
/* ===============HEADER================= */

/* Logo của trang web*/
.wraper .header-logo img{     
    height: 30px;
    width:40px;
    margin-right:10px ;
    margin-bottom: 15px;
  }
.wraper .header-logo{
      display: flex;
      font-weight: bolder;
      font-size: 2rem;
      color:#333;
      align-items: center;
  }

.wraper .header-logo span{
      color:var(--red);
  }
  .wraper .header-logo p{
    height: 100%;
    display: flex;
    align-items: center;
    color: brown; 
    margin-bottom: 0px !important ;
  }
  .wraper .header-logo .font-logo {
    font-size: 3rem !important;
  }

/* ==============Đóng Tạo LOGO============= */
.row-container {
    display: flex;
}
.header-content {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 3%;
    display: flex;
    background-color: #fff;
    
}
/* =============Tao Navbar============== */
.header-nav{
        display: flex;
        align-items: center ;
}
a {
    text-decoration: none !important;
}
ul {
    list-style: none;
    padding-left: 0rem  ;
  
}
.header-nav .nav-opt{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 0px !important;
    padding-left:2rem;  
    
}

.header-nav>ul>a{
    display: flex;
    color: black;
    font-weight: bold;
    align-items: center;
}
.header-nav>ul>a:hover{
    color: chocolate;
}
.header-nav>ul>li {
    margin-left: 20px;
    padding: 10px 0;
}
.nav-search {
    position: relative;
}
/* =================TIM KIEM SUB====================== */
.nav-sub {
    position: absolute;
    width: 180px;
    top: 140%;
    padding: 10px 10px;
    left: -15%;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
}
.nav-sub ul{
    padding-left: 0px;
}

.nav-sub ul li a {
    color: black;
}
.header-nav .nav-search {
    margin-bottom: 30px;
}
.header-nav .nav-search:hover .nav-sub {
    display: block ;
    animation: submenu 0.25s linear;
}
@keyframes submenu {
    0%{
        top: 100px;
    }
}
.nav-sub ul li:hover >a {
    /* color: var(--red); */
    color: black;
}
.nav-sub ul li:hover {
    margin-left: 20px;
    background-color: var(--red);

}
.nav-sub ul li {
    transition: all 1s ease;
    padding: 10px 20px;
    border-radius: 10px;
    
}
.nav-sub::before {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    content: "";
    display: block;
    top: -15px;
    left: 50px;
    transform: rotate(45deg);
    z-index: -10;
    
}

/* ================Gio hang================= */
.icon-cart{
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;

}
.icon-cart .cart{
    font-size: 2.5rem;
    color:#333;
    align-items: center;
    display: inline-block   ;
}

/* ===========Tạo menubar================= */
.header-content {
    transition: all 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header-content .icons #menu-bars,
.header-content .icons a{
    height: 3.5rem;
    line-height: 3.5rem;
    width: 4rem;
    font-size: 3rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    color: var(--red);
    background: var(--main-color);
    text-align: center;
}

.header-content .icons #menu-bars:hover,
.header-content .icons a:hover{
    background-color:var(--red);
    color:#fff;
}

.header-content .icons #menu-bars{
    display: none;
}
/* ----------------------CARD_PAY------------------------ */
.card-pay  {
font-size: 200%;
}
.small, small {
    font-size: -0.125em !;
}

.icon-cart-add, .icon-cart-delete {
   font-size: 30px;
   margin: 0 10px;
}
.icon-cart-add :hover {
    color: var(--red);

}
.icon-cart-delete:hover {
    color: var(--red);
}

/* -------------------FOOTER----------------- */


footer{
    background-color: #6dbfe2;
}
.container-ft {
    padding:2rem 9%;
}
.row  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.row .column{
flex: 1 1 20rem !important;
margin: 0 40px !important;

}

.row p{
    /* color: #333; */
    color: #fff;
}

.row .column .congthuong {
width: 50%;

}
.row .column p{
    font-size: 16px;
    
}

.row .column .add{
    max-width: 25em;
}

.row .column .school{
    max-width: 22em;
}

.row .column .download .download-tittle{
    font-size: 18px;
}
.row .column .info h2{
    font-size: 18px;
}
.column .dowload1{
    width: 100%;
}
.footer>.container {
    padding: 2rem 9% !important;
}
